<div class="container">
    <div class="row">

        {% for item in items %}
            <div class="col-sm-6">
                <div class="news-wrapper">
                    <h1>{{ item.title }}</h1>
                    <span>{{ item.date }}</span>
                    <p>{{ item.abstract }}</p>
                </div>
            </div>
        {% endfor %}

    </div>
</div>